/*reset.css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*** custom CSS ***/

body {
  background-color: #eeedbb ;
  color: rgb(49, 49, 70);
  font-size: 16px;
  line-height: 2em;
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0.8em;
  margin-top: 1.2em;
}

h3 {
  font-size: 1.2em;
  text-align: center;

}

.author {
  margin-bottom: 1.1em;
}

p (
  margin-top: 1em;
  margin-bottom: 2em;
)

.logo {

  margin: 20px;
  width: 100px;
}

.large-pic {
 
  width: 100%;
}

.medium-pic {
  width: 70%;
  background: center;
}

figure {
  background: center;
  text-align: center;
}

.author {
  text-align: center;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
}

a:link {
  color: rgb(0, 0, 0)
}

a:hover {
  color: #0070BC;
}